#kindle{
	position:relative;
	margin-left:100px;
	margin-right:auto;
	background-image:url('http://crowned.github.io/kindlesaver/images/paperwhite.png');
	width:999px;
	height:1422px;
	-webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    transform-origin: 0px 0px;

	-moz-transform: scale(0.5,0.5); 
	-webkit-transform: scale(0.5,0.5);
	transform: scale(0.5, 0.5);
	
}

#more{
	position:absolute;
	top:162px;
	left:-195px;
	width:140px;
	
	-webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
	
	-moz-transform: scale(1.5,1.5); 
	-webkit-transform: scale(1.5,1.5);
	transform: scale(1.5, 1.5);
}

.cropFrame{
	position:absolute;
	left: 123px;
	top: 161px;
}

.cropControls{
	top:0;
	height:52px;
}

.cropControls span{
	margin: 12px 0 0 15px;
	
	-webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
	
	-moz-transform: scale(2,2); 
	-webkit-transform: scale(2,2);
	transform: scale(2, 2);
}

.cropControls a{
	margin: 7px 23px 0 0px;
	-webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
	
	-moz-transform: scale(2,2); 
	-webkit-transform: scale(2,2);
	transform: scale(2, 2);
	}

.image-file, .results{
	position:absolute;
	display:none;
}


#imageLoader{
	position:absolute;
	top:40px;
	left:-200px;
	color: rgba(0,0,0,0);
	-webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
	
	-moz-transform: scale(2,2); 
	-webkit-transform: scale(2,2);
	transform: scale(2, 2);
}

.download{
	position:absolute;
	top:85px;
	left:-195px;
	
	-webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
	
	-moz-transform: scale(2,2); 
	-webkit-transform: scale(2,2); 
	transform: scale(2,2); 
}

a{
	color: black;
}


a:active{
	color: gray;
}


<div class="download">
  <a href="#" download="crop.png">Download</a>
</div>
<label class="image-file">Image File:</label>
<br/>
<input type="file" id="imageLoader" name="imageLoader" />